.form-container {
  position: relative;
}

.temp-error-message {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  background-color: #fff3e0;
  padding: 10px;
  border: 1px solid #ffb74d;
  border-radius: 5px;
  color: #ff9800;
  display: flex;
  align-items: center;
}
